body {
    background: #6eb5d8;
}

head {
    border-style: solid;
    border-width: 2px;
    margin: 3px;
    padding: 3px;
    }
header {

    background-color:#ffffff;
    background-image: url("images/graphic.png");
    background-repeat: no-repeat;
    color: #fffacc;
    font-family: Georgia, Palatino, serif;
    font-size: 60px;
    height: 200px;
    padding: 5px
}

section {
    background: #ffccf1;
    max-width: 700px;
    padding: 10px;
}

article {
    border-style: solid;
    border-width: 7px;
    border-radius: 7px;
    margin: 7px;
    padding: 7 px;
}

p {
    font-family: georgia, serif;
}

h1 {
  font-size: 26px;
  font-family: georgia, serif;
  color: rgb(232, 113, 23);
  text-align: center;
}

h2 {
  font-size: 30px;
  font-family: "Times New Roman", Times serif;
  color: rgb(232, 113, 23);
}

.prerequisite {
  font-style: italic;
  display: inline;
}

.credits {
  display: inline;
  color: #e2d8c9;
}

.embedded_skill {
  display: inline;
  color: ##e2b46f;
}

.offered {
  display: inline;
  color: #7a7575;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7a7575;
  font-family: arial,sans-serif;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: underline;
}


nav li a:hover {

  background-color: ##847c74;
  }
