.below_menu_container {
  padding-top: 50px;
}
p { 
    color: #1c1b16;
}

nav ul {
  list-style-type: none;
  margin: 5;
  padding: 5;
  overflow: hidden;
  background-color: #821045;
  font-family: arial,sans-serif;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: underline;
}


nav li a:hover {

  background-color: white;
  }